In [ ]:
record= {1001:{"Name":"5 star","Price":10,"QTY": 20}, 
         1002:{"Name":"Bar-one","Price":15,"QTY": 25},
         1003:{"Name":"Sneakers","Price":38,"QTY": 30},
         1004:{"Name":"Milky bar","Price":40,"QTY": 30},
         1005:{"Name":"almonds","Price":28,"QTY": 68}}

In [4]:
record

{1001: {'Name': '5 star', 'Price': 10, 'QTY': 20},
 1002: {'Name': 'Bar-one', 'Price': 15, 'QTY': 25},
 1003: {'Name': 'Sneakers', 'Price': 38, 'QTY': 30},
 1004: {'Name': 'Milky bar', 'Price': 40, 'QTY': 30},
 1005: {'Name': 'almonds', 'Price': 28, 'QTY': 68}}